
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="~/Content/Css/UserPage.css">
    <link rel="stylesheet" type="text/css" href="@ViewBag.Css">
    <link rel="stylesheet" type="text/css" href="https://www.google.com/fonts#UsePlace:use/Collection:Open+Sans">
    <script type="text/javascript" src="~/Content/Scripts/jquery.min.js"></script>
    <script type="text/javascript" src="~/Content/Scripts/jquery-ui.min.js"></script>
</head>
<body scroll="no" alink="#5e81a8" vlink="#5e81a8">
    <div id="toprow">
        <div>
            <img id="logo" src="~/Content/Images/tweechatlogo.png">
            <img id="search_box_img" src="~/Content/Images/site2_0003s_0002_Base.png">
            <input type="text" id="search_box" placeholder="Поиск" maxlength="17">
        </div>
    </div>
    <div id="content">
        <div id="head">
            <div id="eclipse">
                <img src="~/Content/User_Images/eclipse.png" />
            </div>
            <img src="~/Content/User_Images/rectangle23.png" />
        </div>
        <div id="block">
            <img src="~/Content/User_Images/block3.png" />
            <div id="News">
                <div id="newsicon"><img src="~/Content/User_Images/news.png" /></div>
                <div><p id='newstext' href="#">Новости</p> </div>
            </div>
            <div id="feedback">
                <div id="feedbackicon"><img src="~/Content/User_Images/feedback.png" /></div>
                <div><p id='feedbacktext' href="#">Уведомления</p> </div>
            </div>
            <div id="mail">
                <div id="mailicon"><img src="~/Content/User_Images/mail.png" /></div>
                <div><p id='mailtext' href="#">Сообщения</p> </div>
            </div>
        </div>
    </div>

    <div id="mainPart">
        @RenderBody()
    </div>

    <div id="footer">
        <p id="tc">TC © 2016</p>
        <a href="#" id="about">о компании</a>
        <a href="#" id="terms">правила</a>
        <a href="#" id="developers">разработчикам</a>
        <p id="language">Язык:@Html.Action("getName", "Home", new { email = "haqintosh@gmail.com" })</p>
    </div>
    <script type="text/javascript">
        $("#search_box").on("focus", function () {
            $("#search_box_img").attr("src", "../content/Images/site2_0004s_0002_Base.png");
        });
        $("#search_box").on("blur", function () {
            $("#search_box_img").attr("src", "../Content/Images/site2_0003s_0002_Base.png");
        })
        $("#sign_button").on("click", function () {
            var data = {
                'username': $("#input_area1").val(),
                'password': $("#input_area2").val()
            }
            alert(JSON.stringify(data));

        });
    </script>
</body>
</html>