<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/finish.css' />
    <script src="/javascripts/jquery.min.js"></script>
</head>
<div id="toprow">
    <div>
        <img id="logo" src="/images/tweechatlogo.png">
    </div>
</div>
<div id="content">
    <div id="finishgal">
        <img src="/images/finishgal.png">
    </div>
    <div id="line3">
        <img src="/images/line3.png">
    </div>
    <div id="text">
        <p id='text1'>Вы успешно завершили регистрацию!</p>
        <a id="text2" href="../profile/." ><img src="/images/gotoprofile.png"></a>
    </div>
</div>
<div id="footer">
    <p id="tc">TC © 2016</p>
    <a href="#" id="about">о компании</a>
    <a href="#" id="terms">правила</a>
    <a href="#" id="developers">разработчикам</a>
    <p id="language"><%=language%></p>
</div>
</html>