<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/jquery.min.js"></script>
  </head>
  <div id="toprow">
    <div>
      <img id="logo" src="/images/tweechatlogo.png">
    </div>
  </div>
  <div id="content">
    <form id="sign_in" method="post" action="/login">
      <img src="/images/login_background.png">
      <input type="email" id="input_area1" name="email" placeholder="Email" required><br><br>
      <input type="password" id="input_area2" name="password" placeholder="Пароль" required><br><br>
      <input type="submit" id="sign_button" value="Войти">
      <a href="#" id='restore_link'>Забыли пароль?</a>
    </form>
    <form id="register" method="post" action="/register">
      <img src="/images/backgrount_login.png">
      <p type="text" id='first'>Впервые на Tweechat?</p>
      <p type="text" id='second'>Присоединяйтесь</p>
      <input type="email" id="input_area3" name="email" placeholder="Email" required><br><br>
      <input type="password" id="input_area4" placeholder="Пароль" required><br><br>
      <input type="password" id="input_area5" name="password" placeholder="Подтвердите пароль" required><br><br>
      <input type="submit" id="register_button" value="Зарегистрироваться">
    </form>
  </div>
  <div id="footer">
    <p id="tc">TC © 2016</p>
    <a href="#" id="about">о компании</a>
    <a href="#" id="terms">правила</a>
    <a href="#" id="developers">разработчикам</a>
    <p id="language">Язык:<%=language%></p>
  </div>
  <script type="text/javascript">
    $("#search_box").on("focus", function () {
      $("#search_box_img").attr("src", "/images/searchbox_active.png");
    });
    $("#search_box").on("blur", function () {
      $("#search_box_img").attr("src", "/images/searchbox.png");
    })


    var validateEmail = function () {
      var email = $("#input_area3").val();
      var password = $("#input_area5").val();
      $.ajax({
        url: '@Url.Action("CheckEmail","Home")',
        type: "POST",
        data: {
          'email': email,
          'password': password
        },
        dataType: "json",
        success: function (data) {
          if (data.email != null) {
            alert('email already registered');
          }
        }
      });
    }
    var checkUSer = function () {
      var email = $("#input_area1").val();
      var pass = $("#input_area2").val();
      $.ajax({
        url: '@Url.Action("checkAuthorization","Home")',
        type: "POST",
        data: {
          'email': email,
          'password': pass
        },
        dataType: "json",
        success: function (data) {
          switch (data.result) {
            case "NoUSer":
              alert("Такой пользователь еще не зарегистрирован!");
              break;
            case "Incorrect":
              alert("Пароль не верен!");
              break;
          }
        }
      })
    }
   // $("#register_button").on("click", validateEmail);
    //  $("#sign_button").on("click", checkUSer);
  </script>
</html>
