<link rel='stylesheet' href='/stylesheets/mail.css' />
<div id="dialogs">
    <img id="lupa" src="/images/lupa.png">
    <input type="text" id="search_dialog" placeholder="Поиск...">
</div>
<div id="messages">
    <input placeholder="Введите Ваше сообщение..." type="text" id="message_box">
</div>