<link rel='stylesheet' href='/stylesheets/mail.css' />
<div id="dialogs">
    <img id="searchline" src="/images/searchline.png">
    <img id="lupa" src="/images/lupa.png">
    <input type="text" id="search_dialog" placeholder="Поиск...">
</div>
<div id="messages">
    <img id="mainline" src="/images/mainline.png">
    <input placeholder="Введите Ваше сообщение..." type="text" id="message_box">
    <img id="smileicon" src="/images/smile_icon.png">
</div>