<link rel='stylesheet' href='/stylesheets/mail.css' />
<div id="dialogs">
    <img id="searchline" src="/images/searchline.png">
    <img id="lupa" src="/images/lupa.png">
    <input type="text" id="search_dialog" placeholder="Поиск">
</div>
<div id="messagestext">
    <img id="grayline" src="/images/grayline.png">
    <h1 type="text" id="mailhead">Мои сообщения</h1>
    <img id="line4" src="/images/line4.png">
</div>
<div id="messages">
    <input placeholder="Введите Ваше сообщение..." type="text" id="message_box">
    <img id="smileIcon" src="/images/smile_icon.png">
    <img id="cameraIcon" src="/images/cameraicon.png">
    <button id="mailButton" src="/images/mailbutton.png">Отправить</button>
</div>