#toprow
{
  position: absolute;
  top:0;
  width: 100%;
  height: 4.5%;
  left: 0;
  background-image: url('../images/site2_0002_Rectangle-1-copy.png');
}
#logo
{
  position: absolute;
  top: 27%;
  left: 46%;
  width: 99px;
  height: 22px;
  border-style: none;
  z-index:  1000;
}
#search_box_img
{
  position: absolute;
  top: 18%;
  left: 27%;
  width: 163px;
  height: 22px;
  max-height:65%;
  max-width: 11%;
  min-width: 11%;
  min-height: 65%;
  border-radius: 20px;
  border-style: none;
  z-index:  1000;
}
#search_box
{
  position: absolute;
  left: 28.5%;
  height: 97%;
  width: 80%;
  display: block;
  color:white;
  background: none;
  border-style: none;
  outline: none;
  font-size: 10pt;
  z-index: 1001;
}
#content
{
  position: absolute;
  top:4.5%;
  left: 0;
  width: 100%;
  height: 89%;
  background-image: url('../images/registerbackground.png');
  background-repeat: no-repeat;
  -moz-background-size: 100%; /* Firefox 3.6+ */
  -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
  -o-background-size: 100%; /* Opera 9.6+ */
  background-size: 100%; /* Современные браузеры */
}
#eclipse
{
  position: absolute;
  top: 13%;
  left: 2.5%;
}
#head
{
  position: absolute;
  top: 2%;
  left: 27%;
}
#block
{
  position: absolute;
  top: 16.1%;
  left: 27%;
}
#newsicon
{
  position: absolute;
  top: 22%;
  left: 2%;
}
#newstext
{
  position: absolute;
  top: -18%;
  left: 5%;
  z-index: 2000;
  text-decoration: none;
  color:#ffffff;
}
#feedbackicon
{
  position: absolute;
  top: 22%;
  left: 14.1%;
}
#feedbacktext
{
  position: absolute;
  top: -18%;
  left: 17%;
  z-index: 2000;
  text-decoration: none;
  color:#ffffff;
}
#mailicon
{
  position: absolute;
  top: 22%;
  left: 30.6%;
}
#mailtext
{
  position: absolute;
  top: -18%;
  left: 33.6%;
  z-index: 2000;
  text-decoration: none;
  color:#ffffff;
}
#footer
{
  position: absolute;
  top: 93%;
  left: 0;
  width: 100%;
  height: 11%;
  background-image: url("../images/site2_0005s_0000s_0003_footer.png");
  background-repeat: no-repeat;
  -moz-background-size: 100%; /* Firefox 3.6+ */
  -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
  -o-background-size: 100%; /* Opera 9.6+ */
  background-size: 100%;
}
#tc
{
  position: absolute;
  top:11%;
  left: 25%;
  font-size: 13.5px;
}

#about
{
  position: absolute;
  top:23%;
  left: 40%;
  font-size: 13px;
  text-decoration: none;
}

#terms
{
  position: absolute;
  top:23%;
  left:46%;
  font-size: 13px;
  text-decoration: none;
}

#developers
{
  position: absolute;
  top:23%;
  left: 51%;
  font-size: 13px;
  text-decoration: none;
}

#language
{
  position: absolute;
  top:11%;
  left: 70%;
  font-size: 13.5px;
  text-decoration: none;
}

body
{
  overflow: hidden;
  user-select:none;
  -moz-user-select: none;
  -webkit-user-select: none;
  font-family:Open Sans;
  font-size:13px;
}
#mainPart{
    position:absolute;
    top:22.6%;
    left:27%;
    background-color:white;
    width:42.9%;
    min-height:70%;
    z-index:10000;
}
