.requserImg{
    position: relative;
    top: 28px;
    width: 65px;
    height: 65px;
    left: -50px;
    border-radius: 50%;
}
#requests{
    position: relative;
    top:-2%;
    left:10%;

}
.requserName{
    position: relative;
    top: -15px;
    left: -39px;
    font-family:sans-serif;
    font-size:14px;
}
#accept{
    position: relative;
    top: -15px;
    left: -40px;
    font-family:sans-serif;
    font-size:12px;
}
.requserAcceptButton{
    position: relative;
    top: -5px;
    left: 7%;
    width: 109px;
    height: 24px;
    border: none;
    -webkit-border-radius: 3.6px;
    -moz-border-radius: 3.6px;
    border-radius: 3.6px;
    background-image: url('../images/accept.png');
}
.requserDeclineButton{
    position: relative;
    top: -5px;
    left: 10%;
    width: 109px;
    height: 24px;
    border: none;
    -webkit-border-radius: 3.6px;
    -moz-border-radius: 3.6px;
    border-radius: 3.6px;
    background-image: url('../images/decline.png');
}
#feedhead{
    position: relative;
    top: 0.5%;
    left: 42%;
    font-family:sans-serif;
    font-size:16px;
    color: #5e81a8;
}
#feedbox{
    position: absolute;
    left: 0%;
    background: white;
    height: 100%;
    width: 100%;
    -webkit-border-radius: 4.5px;
    -moz-border-radius: 4.5px;
    border-radius: 4.5px;
    -webkit-box-shadow: 0 1px 6px rgba(0,0,0,.15);
    -moz-box-shadow: 0 1px 6px rgba(0,0,0,.15);
    box-shadow: 0 1px 6px rgba(0,0,0,.15);
    -webkit-transition: all .1s ease-out;
    -moz-transition: all .1s ease-out;
    -ms-transition: all .1s ease-out;
    -o-transition: all .1s ease-out;
    transition: all .1s ease-out;
}
#grayline{
    position: absolute;
    top:0.01%;
    left:0.11%;
    width: 99.8%;
    -webkit-border-radius: 4.5px;
    -moz-border-radius: 4.5px;
    border-radius: 4.5px;
    -webkit-transition: all .1s ease-out;
    -moz-transition: all .1s ease-out;
    -ms-transition: all .1s ease-out;
    -o-transition: all .1s ease-out;
    transition: all .1s ease-out;
}
#line4{
    position: absolute;
    left: 0%;
    top: 6.7%;
}
