#dialogs{
    position: absolute;
    background: white;
    height: 100%;
    width: 34.1%;
    -webkit-border-radius: 4.5px;
    -moz-border-radius: 4.5px;
    border-radius: 4.5px;
    -webkit-box-shadow: 0 1px 6px rgba(0,0,0,.15);
    -moz-box-shadow: 0 1px 6px rgba(0,0,0,.15);
    box-shadow: 0 1px 6px rgba(0,0,0,.15);
    -webkit-transition: all .1s ease-out;
    -moz-transition: all .1s ease-out;
    -ms-transition: all .1s ease-out;
    -o-transition: all .1s ease-out;
    transition: all .1s ease-out;
}
#messages{
    position: absolute;
    left: 34.8%;
    background: white;
    height: 100%;
    width: 65.1%;
    -webkit-border-radius: 4.5px;
    -moz-border-radius: 4.5px;
    border-radius: 4.5px;
    -webkit-box-shadow: 0 1px 6px rgba(0,0,0,.15);
    -moz-box-shadow: 0 1px 6px rgba(0,0,0,.15);
    box-shadow: 0 1px 6px rgba(0,0,0,.15);
    -webkit-transition: all .1s ease-out;
    -moz-transition: all .1s ease-out;
    -ms-transition: all .1s ease-out;
    -o-transition: all .1s ease-out;
    transition: all .1s ease-out;
}
#mainline{
    position: absolute;
    top: 93.7%;
}
#search_dialog{
    position: relative;
    left:4%;
    top:0.7%;
    border-color: transparent;
    outline: none;
}
#searchline{
    position: absolute;
    top: 4.5%;
}
#lupa{
    position: relative;
    width:6% ;
    top:1%;
    left: 3%;
}
#message_box{
    position:relative;
    top:94%;
    width:95%;
    height:5%;
    left:1%;
    background:white;
    outline: none;
    border-color: transparent;
    -webkit-border-radius: 4.5px;
    -moz-border-radius: 4.5px;
    border-radius: 4.5px;
    -webkit-transition: all .1s ease-out;
    -moz-transition: all .1s ease-out;
    -ms-transition: all .1s ease-out;
    -o-transition: all .1s ease-out;
    transition: all .1s ease-out;
}
#smileicon{
    position: absolute;
    top: 95.5%;
    left: 94.5%;
}
