#dialogs{
    position: absolute;
    background: white;
    height: 100%;
    width: 34.1%;
    -webkit-border-radius: 4.5px;
    -moz-border-radius: 4.5px;
    border-radius: 4.5px;
    -webkit-box-shadow: 0 1px 6px rgba(0,0,0,.15);
    -moz-box-shadow: 0 1px 6px rgba(0,0,0,.15);
    box-shadow: 0 1px 6px rgba(0,0,0,.15);
    -webkit-transition: all .1s ease-out;
    -moz-transition: all .1s ease-out;
    -ms-transition: all .1s ease-out;
    -o-transition: all .1s ease-out;
    transition: all .1s ease-out;
}
#messagestext{
    position: absolute;
    left: 34.8%;
    background: white;
    height: 93%;
    width: 65.1%;
    -webkit-border-radius: 4.5px;
    -moz-border-radius: 4.5px;
    border-radius: 4.5px;
    -webkit-box-shadow: 0 1px 6px rgba(0,0,0,.15);
    -moz-box-shadow: 0 1px 6px rgba(0,0,0,.15);
    box-shadow: 0 1px 6px rgba(0,0,0,.15);
    -webkit-transition: all .1s ease-out;
    -moz-transition: all .1s ease-out;
    -ms-transition: all .1s ease-out;
    -o-transition: all .1s ease-out;
    transition: all .1s ease-out;
}
#messages{
    position: absolute;
    top:93.1%;
    left: 34.8%;
    background: white;
    height: 6.9%;
    width: 65.1%;
    -webkit-border-radius: 4.5px;
    -moz-border-radius: 4.5px;
    border-radius: 4.5px;
    -webkit-box-shadow: 0 1px 6px rgba(0,0,0,.15);
    -moz-box-shadow: 0 1px 6px rgba(0,0,0,.15);
    box-shadow: 0 1px 6px rgba(0,0,0,.15);
    -webkit-transition: all .1s ease-out;
    -moz-transition: all .1s ease-out;
    -ms-transition: all .1s ease-out;
    -o-transition: all .1s ease-out;
    transition: all .1s ease-out;
}
#search_dialog{
    position: relative;
    left: 4%;
    font: 13.5px sans-serif;
    top: 1%;
    border-color: transparent;
    outline: none;
}
#searchline{
    position: absolute;
    top: 5.1%;
}
#lupa{
    position: relative;
    width:6% ;
    top:1.3%;
    left: 3%;
}
#message_box{
    position:relative;
    top:15%;
    width:68.5%;
    height:40%;
    left:1%;
    font: 13px sans-serif;
    background:white;
    outline: none;
    border-color: transparent;

}
#smileIcon{
     position: relative;
     top: 25%;
     left: 0.5%;
     cursor: pointer;
 }
#cameraIcon{
     position: relative;
     width: 17px;
     height: 14px;
     top: 22.5%;
     left: 0.7%;
     cursor: pointer;
 }
#mailButton{
    position: relative;
    top: 15%;
    height: 70%;
    left: 2%;
    color: white;
    font: 13px sans-serif;
    background: #5e81a8;
    cursor: pointer;
    outline: none;
    border-color: transparent;
    -webkit-border-radius: 4.5px;
    -moz-border-radius: 4.5px;
    border-radius: 4.5px;
    -webkit-transition: all .1s ease-out;
    -moz-transition: all .1s ease-out;
    -ms-transition: all .1s ease-out;
    -o-transition: all .1s ease-out;
    transition: all .1s ease-out;
}
#grayline{
    position:relative;
    top:0.01%;
    left:0.11%;
    width: 99.8%;
    height: 7.1%;
    -webkit-border-radius: 4.5px;
    -moz-border-radius: 4.5px;
    border-radius: 4.5px;
    -webkit-transition: all .1s ease-out;
    -moz-transition: all .1s ease-out;
    -ms-transition: all .1s ease-out;
    -o-transition: all .1s ease-out;
    transition: all .1s ease-out;
}
#line4{
    position: absolute;
    left: 0%;
    top: 7.1%;
    width: 470px;
}
#mailhead{
    position: relative;
    top: 0.7%;
    left: 37%;
    font: 16px sans-serif;
    color: #5e81a8;
}
.sender{
    position: relative;
    margin-left: 80%;
}
.getter{
    position: relative;
    margin-left: 5%;
}