#toprow
{
  position: absolute;
  top:0;
  width: 100%;
  height: 4.5%;
  left: 0;
  background-image: url('../images/site2_0002_Rectangle-1-copy.png');
}
#logo
{
  position: absolute;
  top: 26%;
  left: 46%;
  width: 97px;
  height: 21px;
  border-style: none;
  z-index:  1000;
}
#search_box_img
{
  position: absolute;
  top: 18%;
  left: 27%;
  width: 163px;
  height: 22px;
  max-height:65%;
  max-width: 11%;
  min-width: 11%;
  min-height: 65%;
  border-radius: 20px;
  border-style: none;
  z-index:  1000;
}
#search_box
{
  position: absolute;
  left: 28.5%;
  height: 97%;
  width: 8%;
  display: block;
  color:white;
  background: none;
  border-style: none;
  outline: none;
  font-size: 10pt;
  z-index: 1001;
}
#content
{
  position: absolute;
  top:4.5%;
  left: 0;
  width: 100%;
  height: 89%;
  background-image: url('../images/registerbackground.png');
  background-repeat: no-repeat;
  -moz-background-size: 100%; /* Firefox 3.6+ */
  -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
  -o-background-size: 100%; /* Opera 9.6+ */
  background-size: 100%; /* Современные браузеры */
  -webkit-transition: all .1s ease-out;
  -moz-transition: all .1s ease-out;
  -ms-transition: all .1s ease-out;
  -o-transition: all .1s ease-out;
  transition: all .1s ease-out;
}
#eclipse
{
  position: absolute;
  top: 13%;
  left: 2.5%;
}
#head
{
  position: absolute;
  top: 1%;
  left: 27%;
  background-color: white;
  height: 14.8%;
  width: 42.9%;
  -webkit-border-radius: 4.5px;
  -moz-border-radius: 4.5px;
  border-radius: 4.5px;
  -webkit-box-shadow: 0 1px 6px rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 6px rgba(0,0,0,.15);
  box-shadow: 0 1px 6px rgba(0,0,0,.15);
  -webkit-transition: all .1s ease-out;
  -moz-transition: all .1s ease-out;
  -ms-transition: all .1s ease-out;
  -o-transition: all .1s ease-out;
  transition: all .1s ease-out;
}
#profile_photo{
  position:relative;
  top:10%;
  left:0%;
  width:13%;
  border-radius: 50%;
}
#prof_name{
  position: absolute;
  top:30%;
  left:16%;
  width: 60%;
  font: 22px sans-serif;
  color: #5e81a8;
  z-index: 2000;
}
#addfriends{
  position:absolute;
  top:80%;
  left:16.5%;
  width: 37.2%;
  height: 60%;
  -webkit-border-radius: 4.5px;
  -moz-border-radius: 4.5px;
  border-radius: 4.5px;
  background-image: url('../images/add.png');
}
#addfriends:focus{
  outline: none;
}
#friend{
  position:absolute;
  top:80%;
  left:16.5%;
  width: 37.2%;
  height: 60%;
  -webkit-border-radius: 4.5px;
  -moz-border-radius: 4.5px;
  border-radius: 4.5px;
}
#block
{
  position: absolute;
  top: 16.4%;
  left: 27%;
  height: 4%;
  width: 42.9%;
  background: #5e81a8;
  -webkit-border-radius: 4.5px;
  -moz-border-radius: 4.5px;
  border-radius: 4.5px;
  -webkit-box-shadow: 0 1px 6px rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 6px rgba(0,0,0,.15);
  box-shadow: 0 1px 6px rgba(0,0,0,.15);
  -webkit-transition: all .1s ease-out;
  -moz-transition: all .1s ease-out;
  -ms-transition: all .1s ease-out;
  -o-transition: all .1s ease-out;
  transition: all .1s ease-out;
}
#newsicon
{
  position:absolute;
  top: 25%;
  left: 2%;
}
#newstext
{
  position: absolute;
  top:25%;
  font-family:sans-serif;
  left: 5%;
  z-index: 2000;
  text-decoration: none;
  color:#ffffff;
}
#feedbackicon
{
  position: absolute;
  top: 29%;
  left: 14.9%;
}
#feedbacktext
{
  position: absolute;
  top: 25%;
  left: 17.9%;
  z-index: 2000;
  font-family:sans-serif;
  text-decoration: none;
  color:#ffffff;
}
#friendsicon
{
  position: absolute;
  top: 32%;
  left: 32.3%;
}
#friendstext
{
  position: absolute;
  top: 25%;
  left: 35%;
  z-index: 2000;
  font-family:sans-serif;
  text-decoration: none;
  color:#ffffff;
}
#photoicon
{
  position: absolute;
  top: 30%;
  left: 44.1%;
}
#phototext
{
  position: absolute;
  top: 30%;
  left: 47.5%;
  z-index: 2000;
  font-family:sans-serif;
  text-decoration: none;
  color:#ffffff;
}
#groupsicon
{
  position: absolute;
  top: 34%;
  left: 60.4%;
}
#groupstext
{
  position: absolute;
  top: 30%;
  left: 63.9%;
  z-index: 2000;
  font-family:sans-serif;
  text-decoration: none;
  color:#ffffff;
}
#mailicon
{
  position: absolute;
  top: 35%;
  left: 72.8%;
}
#mailtext
{
  position: absolute;
  top: 30%;
  left: 76%;
  z-index: 2000;
  font-family:sans-serif;
  text-decoration: none;
  color:#ffffff;
}
#footer
{
  position: absolute;
  top: 93%;
  left: 0;
  width: 100%;
  height: 11%;
  background-image: url("../images/site2_0005s_0000s_0003_footer.png");
  background-repeat: no-repeat;
  -moz-background-size: 100%; /* Firefox 3.6+ */
  -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
  -o-background-size: 100%; /* Opera 9.6+ */
  background-size: 100%;
}
#tc
{
  position: absolute;
  top:11%;
  left: 27%;
  font-size: 13.5px;
}

#about
{
  position: absolute;
  top:23%;
  left: 40%;
  font-size: 13px;
  text-decoration: none;
}

#terms
{
  position: absolute;
  top:23%;
  left:46%;
  font-size: 13px;
  text-decoration: none;
}

#developers
{
  position: absolute;
  top:23%;
  left: 51%;
  font-size: 13px;
  text-decoration: none;
}

#language
{
  position: absolute;
  top:11%;
  left: 63%;
  font-size: 13.5px;
  text-decoration: none;
}

body
{
  overflow: hidden;
  user-select:none;
  -moz-user-select: none;
  -webkit-user-select: none;
  font-family:sans-serif;
  font-size:13px;
}
#mainPart{
  position:absolute;
  top:23.2%;
  left:27%;
  width:42.9%;
  min-height:70%;
  z-index:10000;

}
#news_layout{
  visibility: visible;
}
#feedback_layout{
  visibility: hidden;
}
#mail_layout{
  visibility: hidden;
}
.but{
  background: none;
  border-style: none;
  outline: none;
}
.but:hover{
  cursor: pointer;
}
.but:active{
  font-size: 14px;
}
a {
  text-decoration: none;
}

nav{
  position: absolute;
  height: 100%;
  left: 70.6%;
  z-index: 2000;
  top: 13%;
}
ul {
  position: relative;
}

ul li {
  font: 12px sans-serif;
  -webkit-transition: padding .05s linear;
  -moz-transition: padding .05s linear;
  -ms-transition: padding .05s linear;
  -o-transition: padding .05s linear;
  transition: padding .05s linear;
}
ul li.drop {
  position: relative;
}
ul > li {
  display: inline-block;
}
ul li a {
  line-height: 40%;
  height: 60%;
  color: white;
  -webkit-transition: all .1s ease-out;
  -moz-transition: all .1s ease-out;
  -ms-transition: all .1s ease-out;
  -o-transition: all .1s ease-out;
  transition: all .1s ease-out;
}
ul li a:hover {
}

.dropOut .triangle {
  width: 0;
  height: 0;
  position: absolute;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid white;
  top: -5%;
  left: 45%;
  margin-left: -3%;
}
.dropdownContain {
  width: 160px;
  position: absolute;
  z-index: 2;
  left: 50%;
  margin-left: -250%; /* half of width */
  top: -500px;
}
.dropOut {
  width: 130px;
  height:98px;
  background: white;
  float: left;
  position: relative;
  margin-top: 0px;
  opacity: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 6px rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 6px rgba(0,0,0,.15);
  box-shadow: 0 1px 6px rgba(0,0,0,.15);
  -webkit-transition: all .1s ease-out;
  -moz-transition: all .1s ease-out;
  -ms-transition: all .1s ease-out;
  -o-transition: all .1s ease-out;
  transition: all .1s ease-out;
}

.dropOut ul {
  float: left;
  padding: 10px 0;
  left:-7.9%;
  width:25%;

}
.dropOut ul li {
  text-align: left;
  float: left;
  width: 115px;
  padding: 2px 0 10px 15px;
  margin: 0px 10px;
  font: 12px sans-serif;
  color: #5e81a8;
  -webkit-transition: background .1s ease-out;
  -moz-transition: background .1s ease-out;
  -ms-transition: background .1s ease-out;
  -o-transition: background .1s ease-out;
  transition: background .1s ease-out;
}

.dropOut ul li:hover {
  background: #edeef0;
}

ul li:hover a { color: #5e81a8; }
ul li:hover .dropdownContain { top: 100%;left:70%; }
ul li:hover .underline { border-bottom-color: #777; }
ul li:hover .dropOut { opacity: 1; margin-top: 8px; }

