#toprow
{
  position: absolute;
  top:0;
  width: 100%;
  height: 4.5%;
  left: 0;
  background-image: url('../images/site2_0002_Rectangle-1-copy.png');
}
#logo
{
  position: absolute;
  top: 26%;
  left: 46%;
  width: 97px;
  height: 21px;
  border-style: none;
  z-index:  1000;
}
#search_box_img
{
  position: absolute;
  top: 18%;
  left: 27%;
  width: 163px;
  height: 22px;
  max-height:65%;
  max-width: 11%;
  min-width: 11%;
  min-height: 65%;
  border-radius: 20px;
  border-style: none;
  z-index:  1000;
}
#search_box
{
  position: absolute;
  left: 28.5%;
  height: 97%;
  width: 8%;
  display: block;
  color:white;
  background: none;
  border-style: none;
  outline: none;
  font-size: 10pt;
  z-index: 1001;
}
#content
{
  position: absolute;
  top:4.5%;
  left: 0;
  width: 100%;
  height: 89%;
  background-image: url('../images/registerbackground.png');
  background-repeat: no-repeat;
  -moz-background-size: 100%; /* Firefox 3.6+ */
  -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
  -o-background-size: 100%; /* Opera 9.6+ */
  background-size: 100%; /* Современные браузеры */
  -webkit-transition: all .1s ease-out;
  -moz-transition: all .1s ease-out;
  -ms-transition: all .1s ease-out;
  -o-transition: all .1s ease-out;
  transition: all .1s ease-out;
}
#eclipse
{
  position: absolute;
  top: 13%;
  left: 2.5%;
}
#head
{
  position: absolute;
  top: 1%;
  left: 27%;
  background-color: white;
  height: 14.8%;
  width: 42.9%;
  -webkit-border-radius: 4.5px;
  -moz-border-radius: 4.5px;
  border-radius: 4.5px;
  -webkit-box-shadow: 0 1px 6px rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 6px rgba(0,0,0,.15);
  box-shadow: 0 1px 6px rgba(0,0,0,.15);
  -webkit-transition: all .1s ease-out;
  -moz-transition: all .1s ease-out;
  -ms-transition: all .1s ease-out;
  -o-transition: all .1s ease-out;
  transition: all .1s ease-out;
}
#profile_photo{
  position:relative;
  top:-5px;
  left:0%;
  width: 102px;
  height: 102px;
  border-radius: 50%;
}
#prof_name{
  position: relative;
  top:35%;
  left:140px;
  font: 23px sans-serif;
  color: #5e81a8;
}
#addfriends{
  position:absolute;
  top: 70%;
  left: 117%;
  width: 120px;
  height: 23px;
  border: none;
  outline:none;
  cursor:pointer;
  font: 12px sans-serif;
  color: white;
  -webkit-border-radius: 3.4px;
  -moz-border-radius: 3.4px;
  border-radius: 3.4px;
  background-image: url('../images/add.png');
}
#compl{
  position: absolute;
  top: 70%;
  left: 117%;
  width: 120px;
  height: 23px;
  border: none;
  outline:none;
  cursor:pointer;
  font: 12px sans-serif;
  color: #55677d;
  -webkit-border-radius: 3.4px;
  -moz-border-radius: 3.4px;
  border-radius: 3.4px;
  background-image: url('../images/complete.png');
}
#sendInv{
  position:absolute;
  top: 70%;
  left: 117%;
  width: 120px;
  height: 23px;
  border: none;
  font: 12px sans-serif;
  color: #55677d;
  outline:none;
  cursor:pointer;
  -webkit-border-radius: 3.4px;
  -moz-border-radius: 3.4px;
  border-radius: 3.4px;
  background-image: url('../images/sendinv.png');
}
#addfriends:focus{
  outline: none;
}
#completefr{
  position:absolute;
  top:80%;
  left:16.5%;
  width: 122px;
  height: 25px;
  -webkit-border-radius: 4.5px;
  -moz-border-radius: 4.5px;
  border-radius: 4.5px;
}
#block
{
  position: absolute;
  top: 16.4%;
  left: 27%;
  height: 4%;
  width: 42.9%;
  background: #5e81a8;
  -webkit-border-radius: 4.5px;
  -moz-border-radius: 4.5px;
  border-radius: 4.5px;
  -webkit-box-shadow: 0 1px 6px rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 6px rgba(0,0,0,.15);
  box-shadow: 0 1px 6px rgba(0,0,0,.15);
  -webkit-transition: all .1s ease-out;
  -moz-transition: all .1s ease-out;
  -ms-transition: all .1s ease-out;
  -o-transition: all .1s ease-out;
  transition: all .1s ease-out;
}
#newsicon
{
  position:absolute;
  top: 25%;
  left: 2%;
}
#newstext
{
  position: absolute;
  top:25%;
  font-family:sans-serif;
  left: 5%;
  z-index: 2000;
  text-decoration: none;
  color:#ffffff;
}
#feedbackicon
{
  position: absolute;
  top: 29%;
  left: 14.9%;
}
#feedbacktext
{
  position: absolute;
  top: 25%;
  left: 17.9%;
  z-index: 2000;
  font-family:sans-serif;
  text-decoration: none;
  color:#ffffff;
}
#friendsicon
{
  position: absolute;
  top: 32%;
  left: 32.3%;
}
#friendstext
{
  position: absolute;
  top: 25%;
  left: 35%;
  z-index: 2000;
  font-family:sans-serif;
  text-decoration: none;
  color:#ffffff;
}
#photoicon
{
  position: absolute;
  top: 30%;
  left: 44.1%;
}
#phototext
{
  position: absolute;
  top: 30%;
  left: 47.5%;
  z-index: 2000;
  font-family:sans-serif;
  text-decoration: none;
  color:#ffffff;
}
#groupsicon
{
  position: absolute;
  top: 34%;
  left: 60.4%;
}
#groupstext
{
  position: absolute;
  top: 30%;
  left: 63.9%;
  z-index: 2000;
  font-family:sans-serif;
  text-decoration: none;
  color:#ffffff;
}
#mailicon
{
  position: absolute;
  top: 35%;
  left: 72.8%;
}
#mailtext
{
  position: absolute;
  top: 30%;
  left: 76%;
  z-index: 2000;
  font-family:sans-serif;
  text-decoration: none;
  color:#ffffff;
}
#footer
{
  position: absolute;
  top: 93%;
  left: 0;
  width: 100%;
  height: 11%;
  background-image: url("../images/site2_0005s_0000s_0003_footer.png");
  background-repeat: no-repeat;
  -moz-background-size: 100%; /* Firefox 3.6+ */
  -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
  -o-background-size: 100%; /* Opera 9.6+ */
  background-size: 100%;
}
#tc
{
  position: absolute;
  top:11%;
  left: 27%;
  font-size: 13.5px;
}

#about
{
  position: absolute;
  top:23%;
  left: 40%;
  font-size: 13px;
  text-decoration: none;
}

#terms
{
  position: absolute;
  top:23%;
  left:46%;
  font-size: 13px;
  text-decoration: none;
}

#developers
{
  position: absolute;
  top:23%;
  left: 51%;
  font-size: 13px;
  text-decoration: none;
}

#language
{
  position: absolute;
  top:11%;
  left: 63%;
  font-size: 13.5px;
  text-decoration: none;
}

body
{
  overflow: hidden;
  user-select:none;
  -moz-user-select: none;
  -webkit-user-select: none;
  font-family:sans-serif;
  font-size:13px;
}
#mainPart{
  position:absolute;
  top:23.2%;
  left:27%;
  width:42.9%;
  min-height:70%;
  z-index:10000;

}
#news_layout{
  visibility: visible;
}
#feedback_layout{
  visibility: hidden;
}
#mail_layout{
  visibility: hidden;
}
.but{
  background: none;
  border-style: none;
  outline: none;
}
.but:hover{
  cursor: pointer;
}
.but:active{
  font-size: 14px;
}
a {
  text-decoration: none;
}

nav {
  display: block;
  background: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  outline: none;
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}
.dropmenu {
  display: inline-block;
  width: 100%;
  text-align: center;
  margin: 10px 0;
}
.dropmenu:after {
  content: "";
  display: table;
  clear: both;
}
.dropmenu li {
  display: inline-block;
  position: relative;
}
.dropmenu > li > a{
  display: block;
  padding: 9px 26px;
  color: white;
  left:415px;
  font-weight: bold;
  letter-spacing: 0.2px;
  position: relative;
  font-family: sans-serif;
}
.dropmenu > li:after {
  content: "";
  position: absolute;
  right: 0;
  width: 1px;
  height: 12px;
  background: #d2d2d2;
  top: 16px;
  box-shadow: 4px -2px 0 #d2d2d2;
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  transform: rotate(30deg);
}
.dropmenu > li:last-child:after {
  background: none;
  box-shadow: none;
}
.dropmenu > li:hover > a{
  color: white;
}
.submenu {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  width: 150px;
  height: 124px;
  background: white;
  border: 1px solid white;
  left: 595%;
  top: 40.5px;
  margin-left: -105px;
  z-index: 10;
  -webkit-border-radius: 4.5px;
  -moz-border-radius: 4.5px;
  border-radius: 4.5px;
  -webkit-box-shadow: 0 1px 6px rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 6px rgba(0,0,0,.15);
  box-shadow: 0 1px 6px rgba(0,0,0,.15);
  -webkit-transition: all .1s ease-out;
  -moz-transition: all .1s ease-out;
  -ms-transition: all .1s ease-out;
  -o-transition: all .1s ease-out;
  transition: all .1s ease-out;
}
.submenu > li {
  display: block;
}
li:hover > .submenu {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
}
.submenu li a {
  padding: 11px 0;
  margin: 0 10px;
  border-bottom: 1px solid #ffffff;
  font-size: 12px;
  color: #5e81a8;
  display: block;
  font-family: sans-serif;
}
.submenu li a:hover {
  color: #5e81a8;
}