<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="@ViewBag.Css">
    <link rel="stylesheet" type="text/css" href="https://www.google.com/fonts#UsePlace:use/Collection:Open+Sans">
    <script type="text/javascript" src="~/Content/Scripts/jquery.min.js"></script>
    <script type="text/javascript" src="~/Content/Scripts/jquery-ui.min.js"></script>
</head>
<body scroll="no" alink="#5e81a8" vlink="#5e81a8">
    @RenderBody()
    @RenderSection("scripts", false)
</body>
</html>
